* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.app-header {
  background-image: url(../assets/imeges/Image.png);
  height: 820px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.app-header__title {
  margin: 0;
  padding: 250px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
}

.app-header__text {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 100px 0;
  letter-spacing: 4px;
}

.app-header__search {
  background: #ffffff;
  width: 650px;
  height: 60px;
  margin: 50px auto 100px auto;
}

.app-header__search-item {
  font-size: 14px;
  font-weight: 400;
  padding: 18px 0;
  width: 500px;
  outline: none;
  border: none;
  color: #999999;
  text-align: center;
  letter-spacing: 4px;
}

.app-header__search-btn {
  background: #5474fd;
  border: none;
  width: 100px;
  height: 56px;
  color: #ffffff;
  margin: 2px 2px 2px 41px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
}

.app-header__search-btn:hover {
  color: #504d4d;
}

.app-header__scroll {
  font-size: 14px;
  font-weight: 400;
}

.app-menu {
  color: #ffffff;
  background: #5474fd;
  height: 80px;
}

.app-menu__parent {
  display: flex;
  justify-content: space-between;
}

.app-menu__logo {
  padding: 28px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
}

.app-menu__nav {
  padding: 33px;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: 400;
}

.app-menu__nav-list-item {
  display: inline;
}

.app-menu__nav-list-item-link {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
}

.app-menu__nav-list-item-link:hover {
  color: #504d4d;
}

.app-whychoose {
  top: -10px;
  background-image: url(../assets/imeges/whybg.png);
  height: 685px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}

.app-whychoose__content {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.app-whychoose__content-left {
  padding: 80px 10px;
  width: 50%;
  color: #ffffff;
}

.app-whychoose__content-left-title {
  padding: 30px 0;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
}

.app-whychoose__content-left-text {
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
}

.app-whychoose__content-left-btn {
  background: #5474fd;
  border: none;
  color: #ffffff;
  width: 225px;
  height: 60px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
}

.app-whychoose__content-left-btn:hover {
  color: #504d4d;
}

.app-whychoose__content-right {
  width: 50%;
}

.app-whychoose__content-right-topfoto {
  padding-left: 65px;
}

.app-whychoose__content-right-bottomfoto {
  padding-left: 190px;
}

.app-works {
  background: #333333;
  height: 340px;
}

.app-works__parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 15px;
}

.app-works__parent-box {
  width: 33%;
  color: #ffffff;
}

.app-madrid1 {
  background-image: url(../assets/imeges/Rectangle414.png);
  height: 700px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  padding: 230px 0 100px 0;
}

.app-madrid1__content {
  width: 540px;
  height: 370px;
  padding: 15px;
  background: #393939;
  opacity: 0.8;
  padding: 40px 30px;
}

.app-madrid1__content-location {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
}

.app-madrid1__content-title {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
}

.app-madrid1__content-text {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 400;
}

.app-madrid1__content-btn {
  background: #5474fd;
  border: none;
  color: #ffffff;
  width: 225px;
  height: 60px;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 16px;
  padding: 15px 0;
}

.app-madrid1__content-btn:hover {
  color: #504d4d;
}

.app-testimonial {
  background-image: url(../assets/imeges/whatbg.png);
  height: 740px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  padding: 100px 0 200px 0;
}

.app-testimonial__title {
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 36px;
  padding-bottom: 90px;
}

.app-testimonial__parent {
  display: flex;
  flex-wrap: wrap;
  background: #333333;
  height: 280px;
}

.app-testimonial__parent-left {
  width: 40%;
}

.app-testimonial__parent-right {
  width: 60%;
  padding: 50px 0;
}

.app-testimonial__parent-right-title {
  font-size: 20px;
  padding-bottom: 30px;
}

.app-testimonial__parent-right-text {
  font-size: 16px;
  line-height: 1.8;
}

.app-footer {
  background: #232323;
  height: 270px;
  color: #ffffff;
}

.app-footer__content {
  text-align: center;
}

.app-footer__content-logo {
  padding: 28px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3px;
}

.app-footer__content-text {
  font-size: 16px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */