.app-footer {
  background: #232323;
  height: 270px;
  color: #ffffff;

  &__content {
    text-align: center;
    padding-top: 70px;

    &-logo {
      padding: 30px;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 3px;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.fab {
  padding: 20px 5px;
}

.fab:hover {
  color: #5474fd;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 960px;
  }

  .app-menu__nav-list {
    display: none;
  }

  .app-menu__nav-hamburger {
    display: block;
    background: #5474fd;
    border: none;
  }

  .app-whychoose__content-right-bottomfoto {
    padding-left: 0;
  }

  .app-whychoose__content-right-topfoto {
    padding-left: 0;
  }

  .app-testimonial__parent-right {
    width: 100%;
  }
  .app-testimonial__parent-left {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }

  .app-header__search {
    width: 300px;
  }

  .app-header__search-item {
    width: 200px;
  }

  .app-header__search-btn {
    margin: 20px 0 0 0;
    width: 300px;
  }

  .app-whychoose__content-left {
    width: 100%;
  }
  .app-whychoose__content-right {
    width: 100%;
    text-align: center;
  }

  .app-madrid1__content {
    width: 100%;
  }

  .app-madrid2__content-left {
    display: none;
  }

  .app-madrid2__content-right {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }

  .app-works__parent-box {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 320px;
  }
}
