* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.app-header {
  background-image: url(../assets/imeges/Image.png);
  height: 820px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;

  &__title {
    margin: 0;
    padding: 250px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
  }

  &__text {
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 100px 0;
    letter-spacing: 4px;
  }

  &__search {
    background: #ffffff;
    width: 650px;
    height: 60px;
    margin: 50px auto 100px auto;

    &-item {
      font-size: 14px;
      font-weight: 400;
      padding: 18px 0;
      width: 500px;
      outline: none;
      border: none;
      color: #999999;
      text-align: center;
      letter-spacing: 4px;
    }

    &-btn {
      background: #5474fd;
      border: none;
      width: 100px;
      height: 56px;
      color: #ffffff;
      margin: 2px 2px 2px 41px;
      font-family: "Aleo", serif;
      font-weight: 400;
      font-size: 14px;
    }

    &-btn:hover {
      color: #504d4d;
    }
  }

  &__scroll {
    font-size: 14px;
    font-weight: 400;
  }
}
