.app-menu {
  color: #ffffff;
  background: #5474fd;
  height: 80px;

  &__parent {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding: 28px 15px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3px;
  }

  &__nav {
    padding: 33px;
    font-family: "Aleo", serif;
    font-size: 14px;
    font-weight: 400;

    &-list {
      &-item {
        display: inline;

        &-link {
          text-decoration: none;
          color: #ffffff;
          padding: 0 20px;
        }

        &-link:hover {
          color: #504d4d;
        }
      }
    }

    &-hamburger {
      display: none;
    }
  }
}
